html{
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top{
    background-color: #1F2937;
}

/*HEADER STYLINGS*/

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin: 0px 0px 100px 0px;
}

.header div {
    font-size: 24px;
    color: #F9FAF8;
}

.header  ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
    font-size: 18px;
}

.header ul li a {
    text-decoration: none;
    color: #E5E7EB;
}

/*HERO STYLINGS*/

.hero{
    display:flex;
    justify-content: center;
    color:#E5E7EB;
    width: 71.8%;
    margin: 0 auto 100px;
}

.hero-text{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin: 0px 40px 0px 0px;
}

.hero-text h1{
    margin:0px 0px -20px 0px;
}

.img-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8b9199;
    padding: 20px;
    margin: 0px;
    width: 50%;
}

.hero-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text p{
    font-size: 18px;
}

.hero button {
    font-size: 16px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 5px 25px;
    border-radius: 5px;
    max-width: 120px;
}